h1 {
  color: transparent;
  border: cornflowerblue;
}

footer {
  background-color: black;
}

.divider {
  width: 5px;
  height: auto;
  display: block;
}

body {
  background: url("https://images.unsplash.com/photo-1587006158786-7b79525a2147");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.image {
  margin: 0;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
