h1 {
  color: transparent;
  border: cornflowerblue;
}

footer {
  background-color: black;
}

.divider {
  width: 5px;
  height: auto;
  display: block;
}

body {
  /* background: url('https://i.imgur.com/5e8o6sc.jpg'); */
  background: url('https://raw.githubusercontent.com/youngcharleslucas/E_Commerce/main/public/images/anastase-maragos-m-HDOBfSI7I-unsplash-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.image {
  margin: 0;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
