.card-style {
  align-content: center;
  max-width: 18rem;
  padding: 10px;
  padding-bottom: 20%;
  padding-top: 20%;
}

.product-style {
    padding: 10px;
    padding-top: 10%;
    padding-bottom:10%;
    padding-left: 10%;
    width: 50%;
    
}
